---
layout: layout.liquid
template: articlePage
---

<div class="page">
  <section class="page__wrapper" data-shadow="{{ boxshadow | default: true }}">
    <header class="page__section-title page-width">
      <h1 class="heading page__section-heading">blog</h1>
      <p class="page__section-title-txt">ブログ</p>
    </header>
    <div class="page__body page-width">
      <article class="blog-article">
        <header class="blog-article__header bg__secondary">
          <h2 class="heading--secondary  blog-article__header-title">{{ title }}</h2>
          <time datatime="{{ date | date: '%Y-%m-%d' }}">{{ date | date: "%Y.%m.%d %a" }}</time>
        </header>
        <div class="blog-article__body">
          {%- if thumbnail != blank -%}
            <div class="blog-article__thumbnail">
              <img src="{{ thumbnail }}" alt="{{ title }}" loading="lazy" width="800" class="">
            </div>
          {%- endif -%}
          <div>{{ content }}</div>
        </div>
        <footer class="blog-article__footer">
          
          <div class="blog-article__footer-inner">
            <dl class="blog-article__footer-share">
              <dt>Share：</dt>
              <dd>
                <a class="" href="https://twitter.com/intent/tweet?text={{ title }}&url=https://kokyushobo.com/{{ permalink }}" target="_blank" rel="noopener" aria-label="ツイートする">Twitter</a>
              </dd>
              <dd>
                <a class="mobile-share-buttons__item mobile-share-buttons__item--facebook" href="https://www.facebook.com/sharer.php?u=https://kokyushobo.com/{{ permalink }}" target="_blank" rel="noopener" aria-label="Facebookでシェアする">Facebook</a>
              </dd>
            </dl>
            {%- comment -%}
            <dl class="blog-article__footer-category">
              <dt>Category</dt>
              <dd>
                <a href="">{{ category }}</a>
              </dd>
              {%- if tags.size > 1 -%}
                <dt>Tags</dt>
                <dd>
                  {%- for tag in tags -%}
                    {%- unless tag == "article" -%}
                      <a href="">{{ tag }}</a>{% unless forloop.last %}, {% endunless %} 
                    {%- endunless -%}
                  {%- endfor -%}
                </dd>
              {%- endif -%}
            </dl>
            {%- endcomment -%}
          </div>
        </footer>
      </article>

      {%- if collections.article %}
        {%- assign previousPost = collections.article | getPreviousCollectionItem %}
        {%- assign nextPost = collections.article | getNextCollectionItem %}
        {%- if nextPost or previousPost %}
          <dl class="blog-article__pager">
            <div class="blog-article__pager-item blog-article__pager-item--new">
              {%- if nextPost -%}
                <a href="{{ nextPost.url }}">
                  <dt>{{ nextPost.data.date | date: "%Y.%m.%d" }}</dt>
                  <dd>{{ nextPost.data.title }}</dd>
                </a>
              {%- endif -%}
            </div>
            <div class="blog-article__pager-item blog-article__pager-item--old">
              {%- if previousPost -%}
                <a href="{{ previousPost.url }}">
                  <dt>{{ previousPost.data.date | date: "%Y.%m.%d" }}</dt>
                  <dd>{{ previousPost.data.title }}</dd>
                </a>
              {%- endif -%}
            </div>
          </dl>
        {%- endif %}
      {%- endif -%}

    </div>
  </section>
</div>