<!doctype html>
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%- if title == blank -%}呼吸書房 - 風野湊 Official Website{%- else -%}{{ title }}｜呼吸書房{%- endif -%}</title>
    <meta name="author" content="風野 湊">
    <meta name="description" content="{%- if description == blank -%}風野湊によるオリジナル創作ウェブサイトです。小説と紀行文、朗読をメインに掲載しています。書籍通販・イベント出店の案内もこちらからどうぞ。{%- else -%}{{ description }}{%- endif -%}">
    <meta name="format-detection" content="telephone=no, email=no, address=no">
    {%- if canonical -%}<link rel="canonical" href="{{ canonical }}" />{%- endif %}

    <!-- Assets -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/global.js" defer></script>

    <!-- Favicon -->
    <meta name="apple-mobile-web-app-title" content="呼吸書房">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="icon alternate" href="/favicon.png" type="image/png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#37807a">
    <meta name="msapplication-TileColor" content="#f4f6f6">
    {% unless title == "Gymnopedie" %}<meta name="theme-color" content="#37807a">{% else %}<meta name="theme-color" content="#000000">{% endunless %}

    <!-- Social -->
    {% if template == "articlePage" -%}
      {%- assign og_type = "article" -%}
    {%- else -%}
      {%- assign og_type = "website" -%}
    {%- endif -%}
    <meta property="og:url" content="https://kokyushobo.com{{ page.url }}">
    <meta property="og:title" content="{%- if title == blank -%}呼吸書房 // 風野湊 Official Website{%- else -%}{{ title }}｜呼吸書房{%- endif -%}" />
    <meta property="og:type" content="{{ og_type }}" />
    <meta property="og:description" content="{%- if description == blank -%}風野湊によるオリジナル創作ウェブサイトです。小説と紀行文、朗読をメインに掲載しています。書籍通販・イベント出店の案内もこちらからどうぞ。{%- else -%}{{ description }}{%- endif -%}" />
    {% if thumbnail != blank -%}
      <meta property="og:image" content="https://kokyushobo.com{{ thumbnail }}" />
    {%- else -%}
      <meta property="og:image" content="https://kokyushobo.com/assets/img/ogp.png" />
    {%- endif %}
    <meta property="og:site_name" content="呼吸書房" />
    <meta property="og:locale" content="ja_JP" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@feelingskyblue" />
    <meta name="twitter:description" content="{%- if description == blank -%}風野湊によるオリジナル創作ウェブサイトです。小説と紀行文、朗読をメインに掲載しています。書籍通販・イベント出店の案内もこちらからどうぞ。{%- else -%}{{ description }}{%- endif -%}" />
    {% if thumbnail != blank -%}
      <meta name="twitter:image" content="https://kokyushobo.com{{ thumbnail }}" />
    {%- else -%}
      <meta name="twitter:image:src" content="https://kokyushobo.com/assets/img/ogp.png" />
    {%- endif %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-08Z4HYPJRN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-08Z4HYPJRN');
    </script>
  </head>

  <body class="{{ template | default: 'homePage' }}">
    <header class="header">
      <div class="header__inner page-width">
        {%- if template == blank -%}
          <h1 class="visually-hidden">呼吸書房</h1>
        {%- else -%}
          <p class="visually-hidden">呼吸書房</p>
        {%- endif -%}
        <a href="/" class="unstyle">
          {%- render 'icon-logo', className: "logo__image" -%}
        </a>
        <button id="mobileGnavBtn" class="mobile__nav-btn" type="button">
          <span class="btn__line"></span>
          <span class="btn__line"></span>
          <span class="btn__line"></span>
          <span class="btn__text">menu</span>
        </button>
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="hasmenu">
              <a href="/about" class="menu-item--parent">infomation<span class="font-serif">活動情報</span></a>
              <ul class="header__nav-sublist">
                <li><a href="/about">about<span class="font-serif">呼吸書房について</span></a></li>
                <li><a href="/blog">blog<span class="font-serif">ブログ</span></a></li>
                <li><a href="/contact">contact<span class="font-serif">お問合せ</span></a></li>
                <li><a href="/event">event<span class="font-serif">イベント出店情報</span></a></li>
              </ul>
            </li>
            <li class="hasmenu">
              <a href="/book" class="menu-item--parent">book-list<span class="font-serif">書籍情報</span></a>
              <ul class="header__nav-sublist header__nav-booklist font-serif">
                <li><a href="/book/botanical_1">本を片手に植物園 vol.1 Tokyo<span>ガイドブック</span></a></li>
                <li><a href="/book/postcard_11">walking postcard vol.11<span>個人誌</span></a></li>
                <li><a href="/book/november">十一月の春の庭<span>短編集</span></a></li>
                <li><a href="/book/postcard_6">walking postcard vol.6<span>個人誌</span></a></li>
                <li><a href="/book/dream">彼らは唯の夢<span>短編集</span></a></li>
                <li><a href="/book/trees_light">すべての樹木は光<span>幻想長編</span></a></li>
                <li><a href="/book/eien">永遠の不在をめぐる<span>短編集</span></a></li>
                <li><a href="/book/morocco">青と茜と砂漠の国<span>紀行文</span></a></li>
                <li><a href="/book/bride">竜の花嫁<span>幻想長編</span></a></li>
                <li><a href="/book/worldtrip">旅人よ立ち止まれ<span>紀行文</span></a></li>
                <li><a href="/book/paperplane">紙飛行機に眠る月<span>短編集</span></a></li>
              </ul>
            </li>
            <li><a href="/novel" class="menu-item--parent">web-novel<span class="font-serif">小説を読む</span></a></li>
            <li><a href="/other" class="menu-item--parent">other-works<span class="font-serif">その他の作品</span></a></li>
            <li><a href="/store" class="menu-item--parent">online-store<span class="font-serif">書籍販売</span></a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      {{ content }}
    </main>
    <footer class="footer bg__primary">
      <div class="page-width flex">
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li {% if page.url == post.url %} aria-current="page"{% endif %}><a href="/">home / トップページ</a></li>
            <li {% if page.url == post.url %} aria-current="page"{% endif %}><a href="/about">about / このサイトについて</a></li>
            <li {% if page.url == post.url %} aria-current="page"{% endif %}><a href="/blog">blog / ブログ</a></li>
            <li {% if page.url == post.url %} aria-current="page"{% endif %}><a href="/contact">contact / お問合せ・ご依頼など</a></li>
            <li {% if page.url == post.url %} aria-current="page"{% endif %}><a href="/event">event / イベント出店情報</a></li>
            <li {% if page.url == post.url %} aria-current="page"{% endif %}><a href="/about/privacy">privacy / プライバシーポリシー</a></li>
            <li {% if page.url == post.url %} aria-current="page"{% endif %}><a href="/book">book-list / 書籍情報</a></li>
            <li {% if page.url == post.url %} aria-current="page"{% endif %}><a href="/novel">web-novel / 小説を読む</a></li>
            <li {% if page.url == post.url %} aria-current="page"{% endif %}><a href="/other">other-work / 紀行文・写真・朗読に触れる</a></li>
            <li {% if page.url == post.url %} aria-current="page"{% endif %}><a href="/store">online-store / 書籍販売</a></li>
          </ul>
        </nav>
        <div class="footer__info">
          <a href="/" class="unstyle">
            {%- render 'icon-logo', className: "logo__image" -%}
          </a>
          <small><span class="font-serif">物語と旅人は、同じ国に住んでいる</span><br>Copyright &copy; Minato Kazano All rights researved.</small>
        </div>
      </div>
    </footer>
  </body>

</html>