{%- assign novels-info-title = '『本を片手に植物園 vol.1 Tokyo』, 
『walking postcard vol.11』, 
『十一月の春の庭』, 
『walking postcard vol.6』, 
『彼らは唯の夢』, 
『すべての樹木は光』, 
『永遠の不在をめぐる』, 
『青と茜と砂漠の国』, 
『竜の花嫁』, 
『旅人よ立ち止まれ』, 
『紙飛行機に眠る月』' | split: ', ' -%}
{%- assign novels-info-handle = 'botanical-vol1, postcard-11, november, postcard-6, dream, tree, eien, aoakane, ryuyome, tabibito, airplane' | split: ', ' -%}
{%- assign novels-info-size = 'small, big, small, big, small, normal, small, small, small, big, small' | split: ', ' -%}
{%- assign novels-info-detail = '2025.3.23刊行, 
2024.12.1刊行, 
2023.11.10刊行, 
2022.11.20刊行, 
2021.11.23刊行, 
2020.11.22刊行, 
2015.11.23刊行, 
2014.11.24刊行, 
2014.11.24刊行（2017.3.26新装版刊行）, 
2012.11.18刊行（2016.9.4新装版刊行）, 
2012.11.18刊行（2014.5.10新装版刊行）' | split: ', ' -%}
<div id="tabBookList">
  <div class="book-tab__wrapper">
    <ul role="tablist" class="book-tab">
      {%- for book in novels-info-title -%}
        <li role="presentation" class="book-tab__item">
          <button
            role="tab"
            aria-controls="panel{{ forloop.index }}"
            aria-selected="{% if forloop.first and page.fileSlug != blank %}true{% else %}false{% endif %}"
            tabindex="{% if forloop.first %}0{% else %}-1{% endif %}"
          >
            <img src="/assets/img/hyoushi-{{ novels-info-handle[forloop.index0] }}.jpg" alt="{{ book }}表紙イメージ" loading="lazy" width="400" class="book-image--{{ novels-info-size[forloop.index0] }}">
          </button>
        </li> 
      {%- endfor -%}
    </ul>
  </div>
  <div class="book-tab__contents">
    {%- for book in novels-info-title -%}
      <section id="panel{{ forloop.index }}" role="tabpanel" aria-hidden="{% if forloop.first and page.fileSlug != blank %}false{% else %}true{% endif %}" tabindex="0" class="book-tab__contents-item book-info">
        <header class="book-info__header">
          <h3 class="book-info__title">{{ book }}</h3>
          <span class="book-info__data">{{ novels-info-detail[forloop.index0] }}</span>
        </header>
        <div class="book-info__detail">
          {%- include '_includes/info-{{novels-info-handle[forloop.index0]}}' -%}
        </div>
      </section>
    {%- endfor -%} 
  </div> 
</div>
