<div id="tabBookList" class="book-tab__target">
  <div class="book-tab__wrapper">
    <ul role="tablist" class="book-tab">
      {%- for book in objects-book -%}
        <li role="presentation" class="book-tab__item">
          <button
            role="tab"
            aria-controls="panel{{ forloop.index }}"
            aria-selected="false"
            tabindex="{% if forloop.first %}0{% else %}-1{% endif %}"
          >
            <img src="/assets/img/hyoushi-{{ book.handle }}.jpg" alt="{{ book.title }}表紙イメージ" loading="lazy" width="400" class="book-image--{{ book.size }}">
          </button>
        </li> 
      {%- endfor -%}
    </ul>
  </div>
  <div class="book-tab__contents">
    {%- for book in objects-book -%}
      <section id="panel{{ forloop.index }}" role="tabpanel" aria-hidden="true" tabindex="0" class="book-tab__contents-item book-info">
        <header class="book-info__header">
          <h3 class="book-info__title">{{ book.title }}</h3>
          <span class="book-info__data">{{ book.published | date: "%Y.%-m.%-d" }}刊行{%- if book['re-published'] %}（{{ book['re-published'] | date: "%Y.%-m.%-d" }}新装版刊行）{%- endif %}</span>
        </header>
        <div class="book-info__detail">
          {%- include '_includes/info-{{book.handle}}' -%}
        </div>
      </section>
    {%- endfor -%} 
  </div> 
</div>
