---
layout: layout-page.liquid
title: blog
subtitle: ブログ
description: 呼吸書房のブログです。
boxshadow: true
eleventyExcludeFromCollections: true
pagination:
  data: collections.article
  size: 5
  alias: articles
  reverse: true
---

<div id="blog" class="blog">
{%- for article in articles -%}
  {%- if article.url != "/blog/" -%}
    <article class="blog-article">
      <header class="blog-article__header bg__secondary">
        <h2 class="heading--secondary  blog-article__header-title"><a href="{{ article.url }}" >{{ article.data.title }}</a></h2>
        <time class="blog-article__header-time" datatime="{{ article.date | date: '%Y-%m-%d' }}">{{ article.date | date: "%Y.%m.%d %a" }}</time>
      </header>
      <div class="blog-article__body">
        {%- if article.data.thumbnail != blank -%}
          <a href="{{ article.url }}" class="blog-article__thumbnail">
            <img src="{{ article.data.thumbnail }}" alt="{{ article.data.title }}" loading="lazy" width="800" class="">
          </a>
        {%- endif -%}
        {%- assign introduction = article.content | truncate: 300 -%}
        <div>
          {%- if introduction contains "<hr>" -%}
            {{ introduction | split: "<hr>" | first }}
          {%- else -%}
            {{ introduction }}
          {%- endif -%}
        </div>
      </div>
      <footer class="blog-article__footer">
        <a href="{{ article.url }}" class="btn btn--medium btn--pale blog-article__read-btn">記事を読む</a>
        {%- comment -%}
        <dl class="blog-article__footer-category">
          <dt>Category</dt>
          <dd>
            <a href="">{{ article.data.category }}</a>
          </dd>
          {%- if article.data.tags.size > 1 -%}
            <dt>Tags</dt>
            <dd>
              {%- for tag in article.data.tags -%}
                {%- unless tag == "article" -%}
                  <a href="">{{ tag }}</a>
                {%- endunless -%}
              {%- endfor -%}
            </dd>
          {%- endif -%}
        </dl>
        {%- endcomment -%}
      </footer>
    </article>
  {%- endif -%}
{%- endfor -%}

<nav class="pagination__wrapper">
  <ol class="pagination">
    <li class="pagination__item {% unless pagination.href.previous %}is-transparent{% endunless %}">
      {% if pagination.href.previous %}
        <a class="pagination__inner" href="{{ pagination.href.previous }}">⟨</a>
      {% else %}
        <span class="pagination__inner">⟨</span>
      {% endif %}
    </li>
    {%- liquid
      assign currentPage = pagination.pageNumber
      assign ellipsis_rendered_before = false
      assign ellipsis_rendered_after = false
      assign currentPage_plus2 = currentPage | plus: 2
    -%}
    {%- for pageEntry in pagination.pages %}
      {%- if forloop.first or forloop.last -%}
        <li class="pagination__item">
          <a class="pagination__inner" href="{{ pagination.hrefs[ forloop.index0 ] }}"{% if page.url == pagination.hrefs[ forloop.index0 ] %} aria-current="page"{% endif %}>
            {{ forloop.index }}
          </a>
        </li>
      {%- elsif forloop.index >= currentPage and forloop.index <= currentPage_plus2 -%}
        <li class="pagination__item">
          <a class="pagination__inner" href="{{ pagination.hrefs[ forloop.index0 ] }}"{% if page.url == pagination.hrefs[ forloop.index0 ] %} aria-current="page"{% endif %}>
            {{ forloop.index }}
          </a>
        </li>
      {%- elsif forloop.index < currentPage and ellipsis_rendered_before == false -%}
        <li class="pagination__item">
          <span class="pagination__inner--ellipsis">…</span>
        </li>
        {%- assign ellipsis_rendered_before = true -%}
      {%- elsif forloop.index > currentPage and ellipsis_rendered_after == false -%}
        <li class="pagination__item">
          <span class="pagination__inner--ellipsis">…</span>
        </li>
        {%- assign ellipsis_rendered_after = true -%}
      {%- endif -%}
    {%- endfor %}
    <li class="pagination__item {% unless pagination.href.next %}is-transparent{% endunless %}">
      {% if pagination.href.next %}
        <a class="pagination__inner" href="{{ pagination.href.next }}">⟩</a>
      {% else %}
        <span class="pagination__inner" class="pagination__inner">⟩</span>
      {% endif %}
    </li>
  </ol>
</nav>
</div>
